.order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1; }

.order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }


.half .bg {
  height: 700px; }
  @media (max-width: 991.98px) { 
    .half .bg {
      height: 700px; } }


.half .bg {
  background-size: cover;
  background-position: center; }

 
.btn1 {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .btn1 {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .btn1:hover {
    color: #212529;
    text-decoration: none; }
  .btn1:focus, .btn.focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(251, 119, 26, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(251, 119, 26, 0.25); }
  .btn1.disabled, .btn:disabled {
    opacity: 0.65; }


.btn-primary1 {
  color: #fff;
  background-color: #990000;
  border-color: #990000; }
  .btn-primary1:hover {
    color: #FFC72C;
    background-color: #990000;
    border-color: #990000; }
  .btn-primary1:focus, .btn-primary.focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(151, 25, 21, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(180, 9, 9, 0.5); }
  .btn-primary1.disabled, .btn-primary1:disabled {
    color: #fff;
    background-color: #a10505;
    border-color: #a10505; }
  .btn-primary1:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #a10505;
    border-color: #a10505; }
  .btn-primary1:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
  .show > .btn-primary.dropdown-toggle:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(151, 25, 21, 0.5);
    box-shadow: 0 0 0 0.2rem rgba(180, 9, 9, 0.5); }   


.btn-block1 {
  width: 100%;
  margin-top: 10px;
  }
  .btn-block1 + .btn-block1 {
    margin-top: 10px;
  }

input[type="submit"].btn-block1,
input[type="reset"].btn-block1,
input[type="button"].btn-block1 {
  width: 20%;
  height: 50px;
  margin-left: 0%; }


.center{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    _position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height:300px;
    margin-left: -333px;
    margin-top: -200px;
    z-index: 10001;
    box-shadow: 2px 2px 4px #e7d6d693, -2px -2px 4px #e7d6d693;
    background-color: rgba(255, 255, 255, 0.589);
    /* background-image: url(../images/bg_2.jpg); */
  }
  @media (prefers-reduced-motion: reduce) { 
    .center {
      top: 50%;
      left: 50%;
      margin-left: -333px;
      margin-top: -200px;
      box-shadow: 2px 2px 4px #e7d6d693, -2px -2px 4px #e7d6d693;
      background-color: rgba(255, 255, 255, 0.952); } }

 
.row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}    

.register {
  margin: auto;
  padding: 0.2px;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  border-top: 1px solid #C1C3C6;
}



